<div class="centered">
  <div class="difficulty-buttons">
    <button mat-button class="difficulty-btn-easy" (click)="setDifficulty(4)">easy</button>
    <button mat-button class="difficulty-btn-med" (click)="setDifficulty(5)">medium</button>
    <button mat-button class="difficulty-btn-hard" (click)="setDifficulty(6)">hard</button>
  </div>
  <br>
  <h2>First, unscramble the words below:</h2>
  <br>
  <div class="first-letter-success" *ngIf="hasFoundFirstLetter">Great! Found
    letter: {{firstLetters.split('').pop()}}</div>

  <br>
  <h3>
    <div *ngFor="let scrambledSubWord of scrambledSubWords let i = index">
      {{scrambledSubWord}}
      <input matInput (keyup)="checkScrambledInput(scrambledSubWord, $event, i)"
             class="scrambled-input"
             style="margin-left: 15px"
             id="input-{{i}}"
      >

    </div>
  </h3>
  <br>
  <h5 *ngIf="firstLetters.length > 0" class="first-letters-found">Letters found: {{firstLetters}}</h5>
  <br>

  <div class="has-completed-step-one" *ngIf="hasCompletedStepOne">
    <div>Great! Now use those letters for the final word below...</div>
  </div>
  <br>
    <mat-form-field class="guess-input-form-{{guessState}}">
      <input matInput type="text" class="guess-input"
             (input)="checkInputWord($event)" [(ngModel)]="guessedWord">
    </mat-form-field>
    <br>
    <br>
    <div *ngIf="isWordCorrect" class="centered">
      <div class="you-got-it">You got it!</div>
      <br>
      <button mat-button class="blue" (click)="this.resetGame()">Play again?</button>
    </div>
    <div *ngIf="showGuessAgain" class="centered guess-again">
      Guess again
    </div>

    <mat-list>
      <mat-list-item style="background-color: cadetblue; align-items: center; border: 3px solid black; border-radius: 20px"
                     *ngFor="let guessedWord of guessedWords">{{guessedWord}}</mat-list-item>
    </mat-list>
  </div>
