.centered {
  text-align: center;
}

.difficulty-btn {
  cursor: pointer;

  &-easy {
    @extend .difficulty-btn;
    background-color: lightgreen;
    margin-right: 1rem;
  }

  &-med {
    @extend .difficulty-btn;
    background-color: orange;
    margin-right: 1rem;
  }

  &-hard {
    @extend .difficulty-btn;
    background-color: indianred;
  }

}

.blue {
  background-color: #1976d2;
}

.purple {
  color: purple;
}

.guess-input-form {
  width: 200px;
  background-color: #c2c3c4;
  border-radius: 25px;

  &-default {
    @extend .guess-input-form;
    border: 5px solid black;
  }

  &-incorrect {
    @extend .guess-input-form;
    border: 5px solid indianred;
  }

  &-correct {
    @extend .guess-input-form;
    border: 5px solid lightgreen;
  }
}

::ng-deep .guess-input-form .mat-form-field-underline {
  display: none;
}

.guess-input {
  height: 35px;
  margin: 0 30px;
  width: 135px;
  font-size: xx-large;
}

.you-got-it {
  background-color: lightgreen;
}

.guess-again {
  background-color: indianred;
}
